
html {
    scroll-behavior: smooth;
}

section {
    padding: 10%;
    height: auto;
    color: #f8f8f8;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    flex-direction: column;
    background-color: rgb(244, 174, 177);
    box-shadow: 0px 10px 10px rgba(244, 174, 177, .5);
}

header h1 {
    margin-top: 25px;
    flex-grow: 1;
    font-size: 2em;
    z-index: 1000;

}


header h3 {
    font-size: 1em;
    margin: 5px;
    font-weight: 600;
    color: rgb(254, 228, 218);
    font-family: 'Roboto';
    text-transform: uppercase;
    
    text-shadow: 0px -5px 0px rgba(254, 228, 218, 0.5);
}

header menu {
    display: flex;
    list-style: none;
}
header menu li {
    margin: 15px 20px;
}
a {
    text-decoration: none;
}

p {
    font-family: 'Freckle Face';
    color: #ffe5dc;
}
section p {
    text-align: center;
    font-size: 2em;
    padding: 45px;
}

/* for all red right hand references */
.red-right-hand {
    font-family: 'Caveat Brush';
    font-weight: 900;
    font-size: 1.5em;
    color: rgb(172, 39, 46);
    /* text-shadow: 4px 1px 1px rgba(78,36,38, 0.5); */
    text-shadow: 0px 0px 10px rgba(0,0,0, 1);
    text-transform: capitalize;
}
/* each reference of the character with the red right hand  */
.reference {
    font-family: 'Road Rage';
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

#verse1 {
    background-image: url('../images/pexels-lucaspezeta-3772353.jpg');
    background-size: cover;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.5);
}

#verse2 {
    background-image: url('../images/guy-in-window.jpg');
    background-size: cover;
    
    /* background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, 0.5)); */
}

#verse3 {
    background-image: url('../images/skull.jpg');
    background-size: cover;
}

#verse4 {
    background-image: url('../images/graveyard.jpg');
    background-size: cover;
}